.header {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  background: black;
  z-index: 999;
  top: 9px;
  left: 0;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0;

    @media only screen and (max-width: 1150px) {
      padding: 4.25px 0;
    }

    @media only screen and (max-width: 600px) {
      justify-content: space-between;
    }

    a {
      position: relative;
    }

    .line {
      height: 43px;
      width: 1px;
      background: #333333;
      margin: 0 45px;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 1150px) {
        display: none;
      }

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .whitePaper,
    .lqd {
      color: white;
      line-height: 21px;
      font-family: 'EuclidCircular', Arial;
      font-weight: 600;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
      }

      @media only screen and (max-width: 1150px) {
        display: none;
      }
    }

    .lqd {
      margin-left: 43px;
      animation-name: color_change;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .whitePaper {
      margin-left: 43px;
    }
    .telegramHeaderIcon,
    .twitterHeaderIcon,
    .github,
    .linkedIn {
      margin-right: 20px;

      @media only screen and (max-width: 400px) {
        margin-right: 15px;
      }
    }

    .icons {
      margin-left: 50px;

      @media only screen and (max-width: 1150px) {
        display: none;
      }
    }

    .imgLogo {
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 1150px) {
        max-width: 48px;
      }
    }
  }
}

.topBorder {
  height: 9px;
  background-image: url('../images/Nav/topborder.png');
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.small {
  @media only screen and (min-width: 1150px) {
    height: 50px !important;

    .line {
      height: 28px !important;
      margin: 0 20px !important;
    }

    .imgLogo {
      max-width: 48px;
    }

    .whitePaper,
    .lqd {
      font-size: 14px;
      line-height: 19px;
    }

    .container {
      padding: 4.25px 0;
    }
  }

  .btn-farm {
    height: 30px;
  }
}

.mobileMenu {
  display: none;

  @media only screen and (max-width: 1150px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .line {
    margin: 0 20px !important;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.sidePanel {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  top: 50px;
  opacity: 0;
  left: -100vw;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  min-height: 320px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 1151px) {
    display: none;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  a {
    color: white;
    font-size: 34px;
    line-height: 40px;
    font-family: 'EuclidCircular', Arial;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;

    @media only screen and (max-height: 600px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 360px) {
      font-size: 26px;
      line-height: 32px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-active {
    left: 0;
    opacity: 1;
  }
}

.bg-black {
  background-image: unset !important;
  background: black !important;
}

.headerB0 {
  border: none;
}

.invisible {
  opacity: 0 !important;
  @media only screen and (min-width: 1150px) {
    opacity: 1 !important;
  }
}

@-webkit-keyframes color_change {
  from {
    color: white;
  }

  to {
    color: #fc307b;
  }
}

@-moz-keyframes color_change {
  from {
    color: white;
  }

  to {
    color: #fc307b;
  }
}

@-ms-keyframes color_change {
  from {
    color: white;
  }

  to {
    color: #fc307b;
  }
}

@-o-keyframes color_change {
  from {
    color: white;
  }

  to {
    color: #fc307b;
  }
}

@keyframes color_change {
  from {
    color: white;
  }

  to {
    color: #fc307b;
  }
}

.btn-farm {
  font-size: 16px;
  margin-left: auto;
  border-radius: 10px !important;
  opacity: 1;
  position: relative;
  z-index: 15;
  transition: opacity 0.5s ease-in-out;
  color: white;
  height: 39px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  font-weight: 600;
  line-height: 24px;
  font-family: 'EuclidCircular', Arial;
  background: linear-gradient(104deg, #a22dc9 0%, #a22dc9 100%);
  @media only screen and (max-width: 1150px) {
    height: 30px;
    min-width: 170px;
    margin-right: 30px;
  }
  @media only screen and (max-width: 400px) {
    max-width: 130px;
    min-width: auto;
  }
}

.btn-farm::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(104deg, #fc307b 0%, #a22dc9 100%);
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
  z-index: -2;
}

.btn-farm:hover::before {
  opacity: 0;
}
