.bull { 
  position: relative;
  height:785px;
  width:100%;
  background:url('../images/bull/bull.png');
  background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
  @media only screen and (max-width:1000px){
    padding:70px 0;
    height:auto;
    &::after {
      content:'';
      position: absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      background:url('../images/bull/Path\ 5883.png');
    }
  }
  @media only screen and (max-width:600px){
    padding-bottom: 370px;
    background:url('/images/bull/im3.png');
    background-size: 895px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: -200px;
  &::after {
    background:url('../images/bull/Rectangle\ 486.png');
    width:100%;
    height:540px;
    top:45%;
    left:0;
    background-repeat: repeat;
    
    
  }
  
  }
 
  @media only screen and (max-width:410px){
    &::after {
      
      top:55%;
      
      
    }
  }
 

  .container {
    padding-bottom: 77px;
    position: relative;
    z-index:3;
    @media only screen and (max-width:1000px){
      padding-bottom: 0;
    }
    
    .right {
      max-width:605px;
      margin-left: auto;
      color:white;
      @media only screen and (max-width:1000px){
        max-width:429px;
      }
      @media only screen and (max-width:600px){
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        max-width: 100%;
      }

      h3 {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size:26px;
        line-height: 40px;
      }

      p {
        line-height: 33px;
        font-size:18px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:566px;
        margin-top: 40px;
        @media only screen and (max-width:1000px){
          flex-direction: column;
          
        }

         
         
          
        }
      }
    }
  }


.btn__rose,.btn__lightBlue {
  border-radius: 10px;
  opacity: 1;
  position: relative;
  z-index:15;
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'EuclidCircular', Arial;
  padding:21.5px 5px;
  font-size:20px;
  line-height: 37px;
  min-width: 263px;
  font-weight: 500;
  transition: opacity .5s ease-in-out;
  text-align:center;

  @media only screen and (max-width:1000px){
    width:100%;
     
   }

   @media only screen and (max-width:600px){
     padding:11.5px 5px !important;
   }
}

.btn__rose::before, .btn__lightBlue::before {
  content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out; 
    border-radius: 10px;
    z-index:-2; 
    opacity:1;
   
}
.btn__rose::before {
  background: linear-gradient(104deg, #fc307b  0%, #a22dc9 100%);
}

.btn__lightBlue::before {
  background-image: linear-gradient(104deg, #5fd9dd 0%, #2c92ef 100%);
}
.btn__rose:hover::before, .btn__lightBlue:hover::before {
  opacity:0;
}

.btn__lightBlue {
  background-image: linear-gradient(104deg, #2c92ef 0%, #2c92ef 100%);
  @media only screen and (max-width:1000px){
    margin-bottom: 40px;
     }
}
.btn__rose {
  background: linear-gradient(104deg, #a22dc9  0%, #a22dc9 100%);
}