body {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gobold;
  color: white;
  text-transform: uppercase;

  span {
    color: #fc307b;
  }
}
p {
  font-family: 'EuclidCircular', Arial;
  font-size: 18px;
  line-height: 33px;

  span {
    font-weight: bold;
  }
}
a {
  font-family: 'EuclidCircular', Arial;
}
.dlo {
  &__hero {
    padding-top: 150px;
    color: white;
    text-align: center;
    background-image: url('/DLO/BackgroundPattern.png');
    background-repeat: repeat-x;
    background-position-y: 100px;
    @media only screen and (max-width: 1150px) {
      padding-top: 0px;
      background-position-y: 50px;
    }

    .container {
      border-bottom: 1px solid #333333;
      padding-bottom: 80px;
    }
    &-heading {
      font-size: 60px;
      line-height: 65px;
      position: relative;
      display: inline-block;
      @media only screen and (max-width: 1150px) {
        padding-top: 150px;
      }
      @media only screen and (max-width: 768px) {
        line-height: 80px;
      }
      @media only screen and (max-width: 576px) {
        font-size: 40px;
        line-height: 53px;
      }
    }
    &-paragraph {
      font-size: 30px;
      line-height: 60px;
      margin-bottom: 80px;
      @media only screen and (max-width: 768px) {
        font-size: 26px;
        line-height: 50px;
      }
      @media only screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 40px;
      }
    }
    &-img {
      margin: 80px auto;
      @media only screen and (max-width: 900px) {
        max-width: 100%;
      }
      @media only screen and (max-width: 576px) {
        margin: 50px 0;
      }
    }
  }
  &__features {
    color: white;
    padding-top: 80px;
    background: black;
    @media only screen and (max-width: 576px) {
      overflow-x: hidden;
    }
    h3 {
      font-size: 36px;
      line-height: 40px;
      position: relative;
      margin-bottom: 50px;
      @media only screen and (max-width: 576px) {
        font-size: 26px;
        line-height: 33px;
      }
      &::after {
        content: '';
        background: #fc307b;
        width: 50px;
        height: 1px;
        left: 0;
        bottom: -25px;
        position: absolute;
      }
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 50px;

      @media only screen and (max-width: 576px) {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 50px;
        &::after {
          content: '';
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
          width: 100vw;
          min-width: 600px;
          left: 0;
          top: 0;
          height: 100%;
        }
      }

      &:first-of-type,
      &:nth-of-type(3) {
        margin-bottom: 100px;
        @media only screen and (max-width: 1300px) {
          img {
            position: absolute;
            right: -180px;
          }
        }
        @media only screen and (max-width: 576px) {
          img {
            right: -150px;
          }
        }
        @media only screen and (max-width: 400px) {
          img {
            right: -100px;
          }
        }
      }
      &:nth-of-type(2),
      &:last-of-type {
        flex-direction: row-reverse;
        margin-bottom: 100px;

        @media only screen and (max-width: 1300px) {
          margin: 200px 0;
          img {
            position: absolute;
            left: -180px;
          }
        }
        @media only screen and (max-width: 576px) {
          img {
            left: 180px;
          }
        }
        @media only screen and (max-width: 400px) {
          img {
            left: -30px;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      .text {
        max-width: 837px;
        @media only screen and (max-width: 1300px) {
          max-width: 70%;
        }
        @media only screen and (max-width: 576px) {
          position: relative;
          z-index: 15;
          max-width: 100%;
          top: 30px;
        }
      }
    }
  }
}

.header {
  .container {
    .lqd {
      margin: 0 43px;
    }
    .icons {
      margin-left: auto;
    }
    @media only screen and (max-width: 1150px) {
      justify-content: space-between;
    }
  }
}

.dlo__btn {
  border-radius: 10px;
  font-size: 27px;
  line-height: 37px;
  font-weight: 500;
  min-width: 367px;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 120px;
  background: linear-gradient(104deg, #a22dc9 0%, #a22dc9 100%);
  opacity: 1;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  color: white;
  &::before {
    content: 'Join today';
    position: absolute;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    padding: 20px auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(104deg, #fc307b 0%, #a22dc9 100%);
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
  }

  &:hover::before {
    opacity: 0;
  }

  @media only screen and (max-width: 768px) {
    font-size: 23px;
    line-height: 31px;
    padding: 36px 5px;
  }
  @media only screen and (max-width: 450px) {
    font-size: 20px;
    line-height: 27px;
    min-width: 100%;
    padding: 30px 5px;
    margin-top: 25px;
  }
}

.joinTheRevolution {
  @media only screen and (max-width: 1300px) {
    padding-top: 150px;
  }
  .bg {
    background: url('../images/joinTheRevolution/im4.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
    background-position: 50% 50%;
    position: relative;
    border: 1px solid #fc307b;
    border-left: none;
    border-right: none;

    &::after {
      content: '';
      position: absolute;
      background: url('/images/hero/Rectangle\ 476.png');
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-repeat: repeat-y;

      @media only screen and (max-width: 600px) {
        height: 20%;
        top: 42%;
        // background-color: red;
      }
    }
    @media only screen and (max-width: 1000px) {
      background-position-x: 50%;
    }
    @media only screen and (max-width: 768px) {
      background-position-x: 50%;
    }
    @media only screen and (max-width: 600px) {
      background-position-y: 100%;
      background-size: 912px;
      background-position-x: 100%;
      padding-bottom: 300px;
    }
    @media only screen and (max-width: 400px) {
      background-position-x: 90%;
      background-position-y: 105%;
    }
  }
  .container {
    padding: 117px 0;
    &:first-of-type {
      text-align: center;
      color: white;
    }
    &:last-of-type {
      @media only screen and (max-width: 1000px) {
        display: grid;
        column-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
      }
      @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .left {
        color: white;
        text-align: left;
        max-width: 605px;
        position: relative;
        z-index: 5;

        @media only screen and (max-width: 1000px) {
          grid-column: 1 / 3;
        }
        @media only screen and (max-width: 600px) {
          position: relative;
          z-index: 3;
          &::after {
            content: '';
            position: absolute;
            // top: 80%;
            // left: 0;
            // transform: translateX(0);
            // background: url('/images/hero/Rectangle\ 485.png');
            width: 100vw;
            background-repeat: repeat-x;
            height: 360px;
          }
        }

        p {
          font-size: 18px;
          line-height: 33px;
          margin-bottom: 90px;
          @media only screen and (max-width: 768px) {
            margin-bottom: 50px;
          }
          @media only screen and(max-width:360px) {
            font-size: 16px;
            line-height: 29px;
          }
        }
      }
    }
    &-1 {
      background: url('../images/Background/back.png') repeat,
        url('../images/Background/high.png') no-repeat, black;
      background-position: 50% -520px;
      padding-top: 55px;
      padding-bottom: 46px;
      @media only screen and (max-width: 1000px) {
        padding-top: 150px;
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &__heading {
    margin-bottom: 28px;
    font-size: 42px;
    line-height: 40px;
    @media only screen and (max-width: 576px) {
      font-size: 30px;
      line-height: 37px;
    }
  }
}
